*{
	box-sizing: border-box;
}

@media only screen and (min-width: 990px) {
    /* For tablets: */
    .navBar ul li {float: left;}
    .navBar ul li a{font-size: 15px;padding: 18px 24px;}
    .navBar ul{overflow: hidden;}
    .container{font-size: 30px;}
    .pic h1{font-size:70px;}
    .pic{height:700px;}
    .select{display: none;}
    
}
@media only screen and (max-width: 610px){
    .navBar{display: none;}
    .pic h1{font-size:35px;}
    .pic{height:350px;}
    .select ul li a{font-size: 10px;padding: 10px 15px;}
   
}
@media only screen and (max-width: 990px) and (min-width: 610px){
    .navBar ul li {float: left;}
    .navBar ul{overflow: hidden;}
    .navBar ul li a{font-size: 10px;padding: 10px 15px;}
    .container{font-size: 20px;}
    .pic h1{font-size:55px;}
    .pic{height:500px;}
    .select{display: none;}
}
body {
	margin: 0;
	padding: 0;
	min-width: 250px;
}

.pic {
	background: url(IMG_3893.jpg) no-repeat center center;
    background-size: cover;
    
  	
}
.pic h1 {
	color:  #333;
  	font-family: 'Raleway', sans-serif;
  	font-weight: 600;
  	margin-top: 0;
  	margin-bottom: 80px;
  	text-transform: uppercase;
  	position: relative;
  	top: 28%;
  	text-align: center;
}
.container{
	margin: 50px;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
}
.footer{
	background-color: #333;
  	color: #fff;
  	padding: 10px 0;
  
}
.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}

.navBar ul, .select ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	background-color: #333;
}

.navBar ul li a, .select ul li a{
	display:block;
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: "Courier New", "Arial Black", "Serif";
  background-color: #333;
	
}
.navBar ul li a:hover,.navBar ul li a:focus, .select ul li a:hover,.select ul li a:focus {
	background-color: #111;
}

.dropdown {
  display: none;
  position:absolute;
  z-index: 10;
}
.menu:hover .dropdown{
  display: block;
  
}
.menu:hover .menubtn{
  background-color: #111;
}
