body {
	margin: 0;
	padding: 0;
	min-width: 250px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

}
li {
	float: left;
}
li a {
	display:block;
	color: white;
	text-align: center;
	padding: 18px 24px;
	text-decoration: none;
	font-family: "Courier New", "Arial Black", "Serif";

}

li a:hover {
	background-color: #111;
}
.pic {
	background: url(IMG_3893.jpg) no-repeat center center;
    background-size: cover;
  	height: 800px;
}
.pic h1 {
	color: #333;
  	font-family: 'Raleway', sans-serif;
  	font-weight: 600;
  	font-size: 70px;
  	margin-top: 0;
  	margin-bottom: 80px;
  	text-transform: uppercase;
  	position: relative;
  	top: 200px;
  	text-align: center;
}
.container{
	margin: 100px;
	text-align: center;
	font-size: 30px;
	font-family: "Lucida Console", Monaco, monospace;
}
.footer{
	background-color: #333;
  	color: #fff;
  	padding: 30px 0;

}
.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
}

