*{
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 250px;
  background-color: #ffffcc;
  overflow: scroll;

}
@media only screen and (max-width: 990px){
    .disappear{display: none;}
}
@media only screen and (min-width: 600px){
    div p{font-size: 20px;}
    div h3{font-size: 30px;}
}
@media only screen and (min-width: 990px) {
    /* For tablets: */
    .navBar ul li {float: left;}
    .navBar ul{overflow: hidden;}
    div p{font-size: 25px;}
    div h3{font-size: 40px;}
    #myUL li{font-size: 25px;}
    input{font-size: 16px;}
    

    
}
.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;

}

.navBar li a {
  display:block;
  color: white;
  text-align: center;
  padding: 18px 24px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Courier New", "Arial Black", "Serif";

}

.navBar li a:hover {
  background-color: #111;
}

div p{
  position: relative;
  left: auto;
  top:10%;
  text-align: center;
  font-family: 'Calligraffitti', cursive;
}



#myUL {
  margin: 0;
  padding: 0;
}


#myUL li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #b3b3ff;
  transition: 0.2s;
  width:80%;
  position: relative;
  left: 10%;
  top:0px;
  list-style-type: none;
  font-family: 'Indie Flower', cursive;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#myUL{
  height: 200px;
}

#myUL li:nth-child(odd) {
  background: #ccccff;
}


#myUL li:hover {
  background: #e6e6ff;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #ffb3b3;
  color: white;
}


.header {
  background-color: #ffb380;
  padding: 30px 40px;
  color: #333;
  text-align: center;
  width:80%;
  position: relative;
  left: 10%;
}


.header:after {
  content: "";
  display: table;
  clear: both;
}


input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  border-radius: 10px;
}


.addBtn {
  padding: 10px;
  width: 20%;
  min-width: 50px;
  position: relative;
  left: 10px;
  background:#7094db;
  color: white;
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Courier New", "Arial Black", "Serif";
  border-radius: 10px;
}

.addBtn:hover {
  background-color: #5c85d6;
}
div h3 {
  font-family: 'Indie Flower', cursive;
  padding-bottom: 20px;
  
}
